transformers 
transformers[sentencepiece]
datasets
rouge_score
py7zr
pandas
nltk
pyyaml
scikit-learn
tqdm
torch 
matplotlib
notebook
boto3    # use it when using AWS sagemaker
mypy-boto3-s3
python-box==6.0.2   # used to handle yaml file
ensure==1.0.2       # used to correctlt handle the data type
fastapi==0.78.0
uvicorn==0.18.3    # acts as a server , handles the http request
Jinja2==3.1.2     # used to create html file , starlette

evaluate
# accelarate
accelerate
